name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: udaysh134

          # Base
          template: classic
          base: activity, repositories

          # Languages
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6
          plugin_languages_colors: github
          plugin_languages_threshold: 2%

          # Output
          filename: assets/metrics.svg
